doctype html
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(http-equiv="X-UA-Compatible", content="IE=edge")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Document
     body 
          h1 Student details 
          table(border="2" , cellpadding="5px" , width="50%" , align="center")
               - var count = 0;
               while count < 3
                    tr 
                         td #{count+1}
                         td #{students[count]['name']}
                         td #{students[count]['age']}
                         td #{students[count]['weight']}
                    - count = count + 1