html(lang="en")
     head
          meta(charset="UTF-8")
          meta(http-equiv="X-UA-Compatible", content="IE=edge")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Document
     body 
          h1 Data About Students 
          table(border="2" , cellpadding="5px" width="50%" , align="center")
               each value,index in students 
                    tr 
                         td #{index + 1}
                         td #{value} 