doctype html 
html 
     head 
          title Lesson 2 in pug 
     body 
          h1(align="center") Example of Pug 
          p
               |lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, consequuntur nam dolores,ipsam rerum eligendi repellendus totam, amet incidunt ipsum excepturi similique velit sint eaque labore aspernatur veritatis quam sunt! 